<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    {{ template "header" . }}
    <title>Millions of Words - About</title>
</head>
<body class="mx-auto dark:bg-gray-900 dark:text-gray-200">
    <header class="text-center p-4">
        {{ template "back-button" }}
        <h1 class="fancy-header">About</h1>      
    </header>

    <main class="mx-auto px-4 py-8 text-center">        
        <p>Millions of Words is another way to celebrate awesome music.</p>
        <br /><br />
        
        <p>Does Millions of Words have a million words? No, but does it have millions of albums? Also no.</p>
        <br /><br />
                
        <p>This is currently only in English.</p>
        <br /><br />
        
        <p>If you want to suggest an album to add/fix please email me at: <a href="mailto:millionsofwords@proton.me">millionsofwords@proton.me</a></p>
        <br /><br />
        
        <p>If any album on this site is actually nazi/problematic/lame shit, please let me know and I'll happily remove it!</p>
        <br /><br />
        
        <p>If you have any questions or feedback, please feel free to reach out on <a href="https://bsky.app/profile/millionsofwords.bsky.social" target="_blank">Bluesky</a> or email!</p>        
    </main>
</body>
</html>