.env
tmp

# I only have this for prettier configuration in go-html templating.
.prettierrc
node_modules
package.json 
package-lock.json
templates/edit-albums.html
templates/partial/editor-section.html
templates/partial/edit-album-tracks.html