{{ range .albums }}
  <div class="rounded-lg shadow overflow-hidden cursor-pointer bg-gray-800">
    <a
      href="/{{ .ID }}"
      hx-get="/{{ .ID }}"
      hx-target="#album-details"
      hx-swap="innerHTML"
    >
      <img
        src="{{ .ImageUrl }}"
        alt="Album cover"
        class="w-full object-cover"
      />
      <div class="p-4">
        <h5 class="text-lg font-semibold text-center">
          {{ .ArtistName }} -
          {{ .AlbumName }}
        </h5>
      </div>
    </a>
  </div>
{{ end }}
