{{ range .albums }}
<article
  class="rounded-lg shadow overflow-hidden cursor-pointer bg-gray-800 hover:bg-gray-700 transform hover:-translate-y-1 hover:scale-105 transition-all duration-300">
  <a href="/album/{{ .Slug }}">
    <img
      src="{{ .ImageUrl }}"
      alt="Album cover for {{ .AlbumName }} by {{ .ArtistName }}"
      class="w-full object-cover"
      loading="lazy" />
    <div class="p-4">
      <h3 class="text-lg font-semibold text-center">
        {{ .ArtistName }} - {{ .AlbumName }}
      </h3>
    </div>
  </a>
</article>
{{ end }}
