<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Album.ArtistName }} - {{ .Album.AlbumName }}</title>
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <style>
      .sticky-container {
        position: -webkit-sticky;
        position: sticky;
        top: 100px;
      }

      .track-info {
        max-width: 200px;
        font-size: 0.85rem;
        line-height: 1.2;
      }

      .album-cover {
        max-width: 350px;
        height: auto;
      }

      .lyrics {
        column-count: 2;
        column-gap: 20px;
      }

      .highlighted {
        background-color: #fcd34d !important;
        color: black !important;
      }

      @media (max-width: 768px) {
        .lyrics {
          column-count: 1;
        }
      }
    </style>
  </head>
  <body class="dark:bg-gray-800 dark:text-gray-200 p-6">
    <div id="album-details" class="p-6">
      <h2 class="text-4xl font-bold p-4 text-center">
        {{ .Album.ArtistName }} -
        {{ .Album.AlbumName }}
      </h2>

      <div class="flex justify-between items-start mt-6">
        <div class="flex-1">
          <div id="albumWordFreqs" class="album-word-frequencies">
            <h3 class="text-xl font-bold mb-4">Album Details</h3>
            <div class="grid grid-cols-1 gap-2 md:grid-cols-2">
              <p>
                <strong>Total album duration:</strong>
                {{ .Album.TotalAlbumLength }}
              </p>
              <p>
                <strong>Total number of words for this album:</strong>
                {{ .Album.TotalWords }}
              </p>
              <p>
                <strong>Average number of words per track:</strong>
                {{ .Album.AverageWordsPerTrack }}
              </p>
              <p>
                <strong>Total number of unique words for this album:</strong>
                {{ .Album.TotalUniqueWords }}
              </p>
              <p>
                <strong>Words per minute (WPM) for the album:</strong>
                {{ printf "%.2f" .AlbumWPM }}
              </p>
            </div>

            <div class="mt-4">
              <strong>Top 20 words:</strong><br />
              <div class="flex flex-wrap gap-2">
                {{ range $index, $wordCount := .Album.AlbumWordFrequencies }}
                  <div
                    class="inline-flex items-center bg-gray-700 text-gray-200 rounded-full px-3 py-1 text-sm font-medium shadow-md"
                    id="wordCount{{ $index }}-{{ $wordCount.Word }}"
                  >
                    {{ $wordCount.Word }}
                  </div>
                {{ end }}
              </div>
            </div>
          </div>
        </div>

        <div class="ml-8">
          <img
            src="{{ .Album.ImageUrl }}"
            alt="{{ .Album.AlbumName }} Cover"
            class="album-cover rounded-md shadow-md"
          />
        </div>
      </div>

      <div class="mt-8">
        {{ range $trackIndex, $trackWithDetails := .TracksWithDetails }}
          <div class="track mb-6">
            <h3 class="text-2xl font-semibold text-center text-white">
              {{ $trackWithDetails.Track.Name }}
            </h3>
            <div
              class="track-info-card bg-blue-600 text-white p-4 rounded-md shadow-md mt-2"
            >
              <p>
                <strong>Length:</strong> {{ $trackWithDetails.Track.Duration }}
              </p>
              <p>
                <strong>Total Words:</strong> {{ $trackWithDetails.TotalWords }}
              </p>
              <p>
                <strong>Unique Words:</strong>
                {{ $trackWithDetails.UniqueWords }}
              </p>
              <p>
                <strong>WPM:</strong>
                {{ printf "%.2f" $trackWithDetails.WordsPerMinute }}
              </p>
            </div>
            <div id="trackDetails{{ $trackIndex }}" class="lg:flex mt-4 gap-2">
              <div
                class="lyrics bg-gray-100 dark:bg-gray-700 p-4 rounded-md shadow-md flex-1"
                id="lyricsText{{ $trackIndex }}"
              >
                {{ if $trackWithDetails.Track.Lyrics }}
                  <pre class="whitespace-pre-wrap text-xs leading-4">
{{ $trackWithDetails.LyricsWords }}</pre
                  >
                {{ else }}
                  <p>This track has no lyrics.</p>
                {{ end }}
              </div>

              <div
                class="word-counts bg-gray-100 dark:bg-gray-700 p-4 rounded-md shadow-md flex-1"
              >
                <div class="sticky-container">
                  <h4 class="font-semibold mb-2 text-indigo-600">
                    Word Counts
                  </h4>
                  <div class="flex flex-wrap gap-2">
                    {{ range $wordIndex, $wordCount := $trackWithDetails.SortedWordCounts }}
                      <div
                        class="inline-flex items-center bg-indigo-600 text-white rounded-full px-2 py-1 text-sm font-medium cursor-pointer shadow-md transition-colors hover:bg-indigo-500"
                        onmouseover="highlightWord('{{ js $wordCount.Word }}', {{ $trackIndex }})"
                        onmouseout="unhighlightWord('{{ js $wordCount.Word }}', {{ $trackIndex }})"
                        id="wordCount{{ $trackIndex }}-{{ $wordCount.Word }}"
                      >
                        {{ $wordCount.Word }}:
                        {{ $wordCount.Count }}
                      </div>
                    {{ end }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>

    <script>
      function highlightWord(word, index) {
        const wordSpans = document.querySelectorAll(`#lyricsText${index} span`);
        wordSpans.forEach((span) => {
          if (
            span.textContent.trim().toLowerCase() === word.trim().toLowerCase()
          ) {
            span.classList.add("highlighted");
          }
        });

        const wordCountElement = document.getElementById(
          `wordCount${index}-${word.toLowerCase()}`,
        );
        if (wordCountElement) {
          wordCountElement.classList.add("highlighted");
        }
      }

      function unhighlightWord(word, index) {
        const wordSpans = document.querySelectorAll(`#lyricsText${index} span`);
        wordSpans.forEach((span) => {
          if (
            span.textContent.trim().toLowerCase() === word.trim().toLowerCase()
          ) {
            span.classList.remove("highlighted");
          }
        });

        const wordCountElement = document.getElementById(
          `wordCount${index}-${word.toLowerCase()}`,
        );
        if (wordCountElement) {
          wordCountElement.classList.remove("highlighted");
        }
      }
    </script>
  </body>
</html>
