<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Words Frequency</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <style>
      .frequency-high {
        font-size: 2rem;
      }
      .frequency-medium {
        font-size: 1.5rem;
      }
      .frequency-low {
        font-size: 1rem;
      }
      .tooltip {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.75);
        color: #fff;
        padding: 5px;
        border-radius: 3px;
        display: none;
        pointer-events: none;
      }
    </style>
  </head>
  <body
    class="dark:bg-gray-900 dark:text-gray-200 flex flex-col items-center p-8"
  >
    <a
      href="/"
      class="mt-4 mb-5 inline-block px-4 py-2 bg-indigo-600 text-white rounded-md transition transform hover:scale-105"
      >Back to Home</a
    >
    <h1 class="text-3xl font-bold mb-8">All Words Frequency</h1>

    <div class="w-full md:w-2/3 mb-8">
      <canvas id="wordFrequencyChart"></canvas>
    </div>

    <table
      class="table-auto w-full md:w-2/3 border-collapse border border-gray-500 mb-8"
    >
      <thead>
        <tr class="bg-gray-800">
          <th class="border border-gray-600 px-4 py-2">Word</th>
          <th class="border border-gray-600 px-4 py-2">Count</th>
          <th class="border border-gray-600 px-4 py-2">Albums</th>
        </tr>
      </thead>
      <tbody>
        {{ range .wordFrequencies }}
          <tr class="hover:bg-gray-700 transition-colors">
            <td
              class="border border-gray-600 px-4 py-2 {{ if gt .Count 50 }}
                frequency-high
              {{ else if gt .Count 10 }}
                frequency-medium
              {{ else }}
                frequency-low
              {{ end }}"
            >
              {{ .Word }}
            </td>
            <td class="border border-gray-600 px-4 py-2">{{ .Count }}</td>
            <td class="border border-gray-600 px-4 py-2">
              <span
                class="hover:underline cursor-pointer"
                data-word="{{ .Word }}"
              >
                {{ if $.wordAlbums }}
                  {{ if index $.wordAlbums .Word }}
                    {{ len (index $.wordAlbums .Word) }} albums
                    <div class="tooltip" id="tooltip-{{ .Word }}">
                      {{ range index $.wordAlbums .Word }}
                        <p>{{ . }}</p>
                      {{ else }}
                        <p>No albums</p>
                      {{ end }}
                    </div>
                  {{ else }}
                    No albums
                  {{ end }}
                {{ else }}
                  No albums
                {{ end }}
              </span>
            </td>
          </tr>
        {{ end }}
      </tbody>
    </table>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const ctx = document.getElementById('wordFrequencyChart').getContext('2d');
            const jsonData = `{{ .wordFrequenciesJSON }}`;
            const wordAlbumsData = `{{ .wordAlbumsJSON }}`;
            let wordFrequencies, wordAlbums;

            try {
                wordFrequencies = JSON.parse(jsonData);
                wordAlbums = JSON.parse(wordAlbumsData);
            } catch (e) {
                return;
            }

            const filteredWordFrequencies = wordFrequencies.filter(word => word.count >= 10);

            const words = filteredWordFrequencies.map(word => word.word);
            const counts = filteredWordFrequencies.map(word => word.count);

            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: words,
                    datasets: [{
                        label: 'Word Frequency',
                        data: counts,
                        borderColor: 'rgba(75, 192, 192, 1)',
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        fill: true,
                        tension: 0.1
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        x: {
                            beginAtZero: true,
                            ticks: {
                                maxTicksLimit: 10
                            }
                        },
                        y: {
                            beginAtZero: true,
                            ticks: {
                                maxTicksLimit: 10
                            }
                        }
                    },
                    plugins: {
                        legend: {
                            display: false
                        }
                    },
                    animation: {
                        duration: 2000,
                        easing: 'easeOutBounce'
                    }
                }
            });

            const tooltipElements = document.querySelectorAll('[data-word]');
            tooltipElements.forEach(element => {
                element.addEventListener('mouseenter', function() {
                    const word = this.getAttribute('data-word');
                    const tooltip = document.getElementById(`tooltip-${word}`);
                    tooltip.style.display = 'block';
                    tooltip.style.left = `${this.getBoundingClientRect().left}px`;
                    tooltip.style.top = `${this.getBoundingClientRect().bottom}px`;
                });
                element.addEventListener('mouseleave', function() {
                    const word = this.getAttribute('data-word');
                    const tooltip = document.getElementById(`tooltip-${word}`);
                    tooltip.style.display = 'none';
                });
            });
        });
    </script>
  </body>
</html>
