<!DOCTYPE html>
<html
  lang="en"
  class="dark">
  <head>
    {{ template "general-header.html" . }}
    <title>Millions of Words - All Words Frequency</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
      .frequency-high {
        font-size: 2rem;
      }
      .frequency-medium {
        font-size: 1.5rem;
      }
      .frequency-low {
        font-size: 1rem;
      }
      .tooltip {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.75);
        color: #fff;
        padding: 5px;
        border-radius: 3px;
        display: none;
        pointer-events: none;
      }
    </style>
  </head>
  <body
    class="dark:bg-gray-900 dark:text-gray-200 flex flex-col items-center p-8">
    <a
      href="/"
      class="absolute top-4 left-4 px-3 py-1 bg-gray-700 text-gray-300 text-sm rounded-md transition transform hover:scale-105 hover:bg-gray-600"
      >Back to Home</a
    >
    <h1 class="fancy-header">All Words</h1>

    <div class="w-full md:w-2/3 mb-8">
      <canvas id="wordFrequencyChart"></canvas>

      <div class="text-center">
        (Chart shows words with at least 100 occurences)
      </div>
    </div>

    <table
      class="table-auto w-full md:w-2/3 border-collapse border border-gray-500 mb-8">
      <thead>
        <tr class="bg-gray-800">
          <th class="border border-gray-600 px-4 py-2">Word</th>
          <th class="border border-gray-600 px-4 py-2">Count</th>
        </tr>
      </thead>
      <tbody>
        {{ range .wordFrequencies }}
        <tr class="hover:bg-gray-700 transition-colors">
          <td
            class="border border-gray-600 px-4 py-2 {{ if gt .Count 50 }}
                frequency-high
              {{ else if gt .Count 10 }}
                frequency-medium
              {{ else }}
                frequency-low
              {{ end }}">
            {{ .Word }}
          </td>
          <td class="border border-gray-600 px-4 py-2">{{ .Count }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const ctx = document
          .getElementById("wordFrequencyChart")
          .getContext("2d");
        const jsonData = `{{ .wordFrequenciesJSON }}`;
        let wordFrequencies, wordAlbums;

        try {
          wordFrequencies = JSON.parse(jsonData);
        } catch (e) {
          return;
        }

        const filteredWordFrequencies = wordFrequencies.filter(
          (word) => word.count >= 100
        );

        const words = filteredWordFrequencies.map((word) => word.word);
        const counts = filteredWordFrequencies.map((word) => word.count);

        new Chart(ctx, {
          type: "line",
          data: {
            labels: words,
            datasets: [
              {
                label: "Word Frequency",
                data: counts,
                borderColor: "rgba(75, 192, 192, 1)",
                backgroundColor: "rgba(75, 192, 192, 0.2)",
                fill: true,
                tension: 0.1,
              },
            ],
          },
          options: {
            responsive: true,
            scales: {
              x: {
                beginAtZero: true,
                ticks: {
                  maxTicksLimit: 100,
                },
              },
              y: {
                beginAtZero: true,
                ticks: {
                  maxTicksLimit: 100,
                },
              },
            },
            plugins: {
              legend: {
                display: false,
              },
            },
            animation: {
              duration: 3000,
              easing: "easeOutBounce",
            },
          },
        });

        const tooltipElements = document.querySelectorAll("[data-word]");
        tooltipElements.forEach((element) => {
          element.addEventListener("mouseenter", function () {
            const word = this.getAttribute("data-word");
            const tooltip = document.getElementById(`tooltip-${word}`);
            tooltip.style.display = "block";
            tooltip.style.left = `${this.getBoundingClientRect().left}px`;
            tooltip.style.top = `${this.getBoundingClientRect().bottom}px`;
          });
          element.addEventListener("mouseleave", function () {
            const word = this.getAttribute("data-word");
            const tooltip = document.getElementById(`tooltip-${word}`);
            tooltip.style.display = "none";
          });
        });
      });
    </script>
  </body>
</html>
