<!DOCTYPE html>
<html lang="en" class="dark">
   {{ template "header" . }}
  <body class="dark:bg-gray-900 dark:text-gray-200 flex flex-col items-center">

    This page should never be visible on the actual server. If it does, it's a bug.
    
    <main id="album-details" class="text-center">
      <header>
        <h1 class="fancy-header-album-title">
          {{ .Album.ArtistName }} - {{ .Album.AlbumName }}
        </h1>       
      </header>

      <section class="mt-8">
        {{ range $trackIndex, $trackWithDetails := .TracksWithDetails }}
        <article class="track">
          <h3 class="track-title">{{ $trackWithDetails.Track.Name }}</h3>
          
          <div id="trackDetails{{ $trackIndex }}" class="">
            <div
              class="edit-lyrics bg-gray-100 dark:bg-gray-700 p-4 rounded-md shadow-md"
              id="lyricsText{{ $trackIndex }}"
            >
              {{ if $trackWithDetails.Track.Lyrics }}
                <textarea
                  class="w-full h-96 edit-lyrics text-xs"
                  id="lyricsTextarea{{ $trackIndex }}"
                  name="lyrics"
                >{{ $trackWithDetails.Track.Lyrics }}</textarea>
              {{ else }}
              <p>This track has no lyrics.</p>
              {{ end }}

              <button
                type="submit"
                class="mt-4 mb-5 inline-block px-4 py-2 bg-indigo-600 text-white rounded-md transition transform hover:scale-105"
                onClick="alert('Nope')"
              >
                Save  
              </button>
            </div>            
          </div>
        </article>
        {{ end }}
      </section>
    </main>   
  </body>
</html>