<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0" />
<title>Millions of Words</title>

<meta
  property="og:title"
  content="Millions of Words - Explore Albums" />
<meta
  property="og:type"
  content="website" />
<meta
  property="og:url"
  content="https://millionsofwords.com" />
<meta
  property="og:image"
  content="https://yourwebsite.com/path-to-default-image.jpg" />
<meta
  property="og:description"
  content="Discover albums and explore detailed word analysis for your favorite music." />
<meta
  property="og:site_name"
  content="Millions of Words" />
<meta
  property="og:locale"
  content="en_US" />

<meta
  name="twitter:card"
  content="summary_large_image" />
<meta
  name="twitter:title"
  content="Millions of Words - Explore Albums" />
<meta
  name="twitter:description"
  content="Discover albums and explore detailed word analysis for your favorite music." />
{{/*
<meta
  name="twitter:image"
  content="https://yourwebsite.com/path-to-default-image.jpg" />
*/}}
<meta
  name="twitter:site"
  content="@gruglistenmusic" />
<meta
  name="twitter:creator"
  content="@gruglistenmusic" />

<meta
  name="description"
  content="Discover albums and explore detailed word analysis for your favorite music." />

<script src="https://unpkg.com/htmx.org"></script>
<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
<link
  href="https://fonts.googleapis.com/css2?family=Honk&display=swap"
  rel="stylesheet" />
